@using FruitLibrary.ShopingCart

@inject IShopingCartService shoppingCartService

<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <NavLink href="#" class="text-white">TMICTO</NavLink></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><NavLink href="#" class="text-white">yadegar.faramarzi@gmail.com</NavLink></small>
            </div>
            <div class="top-link pe-2">
                <NavLink href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</NavLink>
                <NavLink href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</NavLink>
                <NavLink href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></NavLink>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <NavLink href="/" class="navbar-brand"><h1 class="text-primary display-6">Yadegar Ai Projects</h1></NavLink>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <NavLink href="/" class="nav-item nav-link">Home</NavLink>
                    <NavLink href="Shop" class="nav-item nav-link">Shop</NavLink>
                    <NavLink href="shop-detail.html" class="nav-item nav-link">Shop Detail</NavLink>
                    <div class="nav-item dropdown">
                        <NavLink href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</NavLink>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <NavLink href="ProductListing" class="dropdown-item active">Cart</NavLink>
                            <NavLink href="chackout.html" class="dropdown-item">Chackout</NavLink>
                            <NavLink href="testimonial.html" class="dropdown-item">Testimonial</NavLink>
                            <NavLink href="404.html" class="dropdown-item">404 Page</NavLink>
                        </div>
                    </div>
                    <NavLink href="contact.html" class="nav-item nav-link">Contact</NavLink>
                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                    <NavLink href="ProductListing" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" 
                              style="top: -5px; left: 15px; height: 20px; min-width: 20px;">@ProductsCount</span>
                    </NavLink>
                    <NavLink href="#" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </NavLink>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

